@import '../../scss/variables';
@import '../../scss/mixins';

.search {
  background: $color-white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(196, 190, 190, 0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(196, 190, 190, 0.2);
  box-shadow: 0px 0px 5px 1px rgba(196, 190, 190, 0.2);
  max-height: 4rem;

  svg {
    color: $color-dark-gray;
    margin-right: 1.5rem;
  }

  input {
    border: none;
    width: 30rem;
    color: $color-dark-gray;
    font-size: 1.4rem;
    &:focus {
      outline: none;
    }
    @include responsive(tab-port) {
      width: 90%;
    }
  }

  @include responsive(tab-port) {
    width: 100%;
    margin-bottom: 2rem;
  }
}
