@import '../../../scss/variables';

.dropdown-container {
  border-radius: 0.5rem;

  text-align: center;
  font-weight: 300;
  // font-size: 1.4rem;

  position: relative;

  button {
    cursor: pointer;
    background-color: $color-white;
    width: 18rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 5px;
    font-size: 1.4rem;
    height: 4rem;
    font-weight: 300;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(196, 190, 190, 0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(196, 190, 190, 0.2);
    box-shadow: 0px 0px 5px 1px rgba(196, 190, 190, 0.2);
    svg {
      margin-left: 2rem;
      font-size: 1.4rem;
    }
  }
}

.dropdown__regions {
  list-style: none;
  border-radius: 0.5rem;
  width: 18rem;
  background-color: $color-white;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: justify;
  padding: 1rem 0;

  position: absolute;
  top: 5rem;

  -webkit-box-shadow: 0px 0px 5px 1px rgba(196, 190, 190, 0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(196, 190, 190, 0.2);
  box-shadow: 0px 0px 5px 1px rgba(196, 190, 190, 0.2);

  &-item {
    cursor: pointer;
    margin-left: 2rem;
    font-size: 1.4rem;

    font-weight: 600;

    a {
      text-decoration: none;
      height: 100%;
      width: 100%;
      font-weight: 300;
      &:link,
      &:visited {
        color: $color-very-dark-blue-text;
      }
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
